<p>logins works!</p>
<form class="row g-3" (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="col-auto">
      <label for="inputPassword2" class="visually">Email</label>
      <input required [(ngModel)]="username" name="username" type="text" class="form-control" id="username" placeholder="UserName">
      <span *ngIf="username ===''" class="errormes">* Cần phải nhập tên tài khoản</span>
    </div>
    <div class="col-auto">
      <label for="inputPassword2" class="visually">Password</label>
      <input required [(ngModel)]="password" name="password" type="password" class="form-control" id="password" placeholder="Password">
      <span *ngIf="password ===''" class="errormes">* Cần phải nhập mật khẩu</span>
    </div>
    <div class="col-auto">
        <label for="inputPassword2" class="visually">Lựa chọn</label>
        <select (change)="GetStudent($event)">
            <option value="0">---Lựa chọn---</option>
            <option *ngFor="let item of students">{{ item }}</option>
        </select>
      </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3" [disabled]="!loginForm.form.valid">Confirm</button>
    </div>
  </form>